.order{
    border: 3px solid rgb(29, 4, 121);
    padding: 1px;
    background-color: rgb(41, 219, 231);
    border-radius:10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    text-decoration: none;
}